<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Clinique Dr. Hanaa Draa : Fournir des services de santé de qualité</title>


<style>
.card-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.external-event {
  display: flex;
  flex-direction: row;
  align-items: center;
}
</style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <!-- <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div> -->
 <%- include('./components/navbar') %>

 <%- include('./components/sidebar') %>





  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Tableau de bord</h1>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3><%= userCounts.find(obj => obj.role === 1).count %></h3>
                <p>Médecins</p>
              </div>
              <div class="icon">
                <i class="fas fa-user-md"></i>
              </div>
              <a href="#" class="small-box-footer">Plus d'infos <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
            <!-- <div class="small-box bg-info">
              <div class="inner">
                <h3><%= userCounts.find(obj => obj.role === 2).count %></h3>
                <p>Secrétaires</p>
              </div>
              <div class="icon">
                <i class="fas fa-user-md"></i>
              </div>
              <a href="#" class="small-box-footer">Plus d'infos <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div> -->
          <!-- ./col -->
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>     
                  
                  <% const patientsCount = userCounts.find(obj => obj.role === 3); %>
                  <%= patientsCount && patientsCount.count ? patientsCount.count : 0 %></h3>
                <p>Patients</p>
              </div>
              <div class="icon">
                <i class="fas fa-procedures"></i>
              </div>
              <a href="#" class="small-box-footer">Plus d'infos <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <!-- ./col -->
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner"style="color: white;">
                 <h3 id="appointmentCount" >Chargement...</h3>

                <p>Rendez-vous</p>
              </div>
              <div class="icon">
                <i class="fas fa-calendar-alt"></i>
              </div>
              <a href="#" class="small-box-footer">Plus d'infos <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        
        <!-- /.row (main row) -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Rendez-vous d'aujourd'hui</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped ">
                  <thead>
                    <tr>
                      <th>Patient</th>
                      <th>Date</th>
                      <th>Heure</th>
                      <th>Actions</th> <!-- Nouvelle colonne pour les actions -->
                    </tr>
                  </thead>
                  <tbody>
                    <% appointments.slice(-15).forEach(appointment => { %>
                    <tr> 
                      <td><%- appointment.user.firstName %> <%- appointment.user.lastName %></td>
                      <td><%- appointment.DateApp %></td>
                      <td><%- appointment.HourApp %></td>
                      <td>
                          <a data-doc="<%= appointment.id %>" role="button" class="delete-appointment" style="display: flex; align-items: center; justify-content: center;" >
                            <span class="btn btn-sm btn-danger btn-floating"><i class="fas fa-trash-alt"></i></span>
                          </a>
                       </td>
                      
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
                
                
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          <!-- /.col -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <%- include('./components/footer') %>


</div>
<!-- ./wrapper -->


<!-- Page specific script -->
 <script src="js/index.js"></script>

</body>
</html>
